body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.header {
  font-weight: 500;
  font-size: 43px !important;
  margin-top: 100px !important;
}

h3 {
  font-weight: 400;
  font-size: 22px;
}

.homepage {
  position: relative;
  height: 100% !important;
}

.homepage :after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./components/images/garage1.jpg');
  width: 100% !important;
  opacity: 0.6;
  z-index: -1;
  min-height: 100%;
  background-size: cover !important;
}

.page-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0;
}

.input-field.document input[type=search] {
  margin: 13px 20px 0 0 !important;
  border-radius: 10px;
  background: #efefef !important;
  height: 40px !important;
}

.input-field.document input[type=search]:focus  {
  background: white !important;
}

.input-field.user input[type=search]{
  width: 70% !important;
  margin: auto !important;
}
  // transform: translateX(100%) !important;
  //  margin: auto !important;
.searchForm {
  display: inline-block !important;
}

.searchButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0 4px;
    line-height: 0;
}

.brand-logo {
  padding-left: 10px !important;
}

.header {
  margin-top: 35px;
}

.userTable {
  margin: auto;
  width: 80%;
}

.documentForm {
  margin: 0 10px;
  padding: 50px;
  height: 400px;
}

.card.small {
  background-color: white !important;
  height: 200px;
  border-bottom: 1px solid #c4c4c4 !important;
  border-left: 1px solid #d3d3d3 !important;
  border-right: 1px solid #d3d3d3 !important;
  border-top: 1px solid #d3d3d3 !important;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07) !important;
  margin-bottom: 20px !important;
  width: 208px !important;
  font-size: 12px;
}

.card-title {
  font-size: 20px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.rdw-editor-main {
    border: 1px solid #F1F1F1;
    padding: 0 20px;    
}

.welcomeUser {
  margin: 15px;
  font-size: 20px;
}

.dashboardBackground {
  background-color: #e6e6e6 !important;
  min-height: 100%;
  background-repeat: no-repeat;
}

.cancel {
  margin-right: 10px;
}

.paginationContainer {
  margin: 0 auto;
	width: 20%;
}

.pagination {
  cursor: pointer;
}

.pagination :active {
  background-color: indigo;
}